<h1>All Songs</h1>

<a href="/song/new">
    <button>
        Create Song
    </button>
</a>

{{#each allSongs}}
<a href="/song/{{_id}}">
    <div class="song-item">
        {{name}}
        <div class="title">Album</div>
        {{album}}
        <div class="title">Length</div>
        {{length}}
        <div class="title">Song Number</div>
        {{songNumber}}
        <div class="title">Artist</div>
        {{artist}}
    </div>
</a>
{{/each}}