<h1>All Songs</h1>

<a href="/song/new">
    <button>
        Create Song
    </button>
</a>

{{#each allSongs}}
<a href="/song/{{_id}}">
    <div class="song-item">
        {{name}}
        <div class="title">Address</div>
        {{address}}
        <div class="title">Hours</div>
        {{hours}}
        <div class="title">TP Stock</div>
        {{tpStock}}
        <div class="title">Payments Accepted</div>
        {{paymentTypes}}
    </div>
</a>
{{/each}}