<h1>Edit Song</h1>

<form action="/song/{{singleSong._id}}?_method=PUT" method="POST">
    <label>Name</label>
    <input type="text" name="name" value="{{singleSong.name}}" />

    <label>Album</label>
    <input type="text" name="album" value="{{singleSong.album}}" />

    <label>Length</label>
    <input type=" text" name="length" value="{{singleSong.length}}" />

    <label>Song Number</label>
    <input type="number" min=0 name="songNumber" value="{{singleSong.songNumber}}" />

    <label>Artist</label>
    <input type="text" name="artist" value="{{singleSong.artist}}" />

    <input type="submit" value="Save" />
</form>