<h1>All Computers</h1>

<a href="/computer/new">
    <button>
        Create Computer
    </button>
</a>

{{#each allComputers}}
<a href="/computer/{{_id}}">
    <div class="computer-item">
        {{name}}
        <div class="title">Model Number</div>
        {{modelNumber}}
        <div class="title">Manufacturer</div>
        {{manufacturer}}
        <div class="title">Version</div>
        {{version}}
        <div class="title">Storage</div>
        {{storage}}
    </div>
</a>
{{/each}}