<h1>Edit Computer</h1>

<form action="/computer/{{singleComputer._id}}?_method=PUT" method="POST">
    <label>Name</label>
    <input type="text" name="name" value="{{singleComputer.name}}" />

    <label>Model Number</label>
    <input type="text" name="modelNumber" value="{{singleComputer.modelNumber}}" />

    <label>Manufacturer</label>
    <input type=" text" name="manufacturer" value="{{singleComputer.manufacturer}}" />

    <label>Version</label>
    <input type="number" min=0 name="version" value="{{singleComputer.version}}" />

    <label>Storage</label>
    <input type="text" name="storage" value="{{singleComputer.storage}}" />

    <input type="submit" value="Save" />
</form>