{{singleComputer.name}}

<a href="/computer/{{singleComputer._id}}/edit">
    <button>
        Edit
    </button>
</a>

<div class="title">Model Number</div>
{{singleComputer.modelNumber}}

<div class="title">Manufacturer</div>
{{singleComputer.manufacturer}}

<div class="title">Version</div>
{{singleComputer.version}}

<div class="title">Storage</div>
{{singleComputer.storage}}

<form action="/computer/{{singleComputer._id}}?_method=DELETE" method="POST">
    <input type="submit" value="Delete">
</form>