<h1>singelssong</h1>

{{singleSong.name}}

<div class="title">Address</div>
{{singleSong.address}}

<div class="title">Hours</div>
{{singleSong.hours}}

<div class="title">TP Stock</div>
{{singleSong.tpStock}}

<div class="title">Payments Accepted</div>
{{singleSong.paymentTypes}}