<h1>singelscomic</h1>

{{singleComic.name}}

<div class="title">Writer</div>
{{singleComic.Writer}}

<div class="title">Hours</div>
{{singleComic.hours}}

<div class="title">TP Stock</div>
{{singleComic.tpStock}}

<div class="title">Payments Accepted</div>
{{singleComic.paymentTypes}}