<h1>singelscomic</h1>

{{singleComic.name}}

<div class="title">Writer</div>
{{singleComic.Writer}}

<div class="title">Artist</div>
{{singleComic.artist}}

<div class="title">Issue Number</div>
{{singleComic.issueNumber}}

<div class="title">Publisher</div>
{{singleComic.publisher}}