<h1>singelsfacility</h1>

{{singleFacility.name}}

<div class="title">Address</div>
{{singleFacility.address}}

<div class="title">Hours</div>
{{singleFacility.hours}}

<div class="title">TP Stock</div>
{{singleFacility.tpStock}}

<div class="title">Payments Accepted</div>
{{singleFacility.paymentTypes}}