<h1>singelscomputer</h1>

{{singleComputer.name}}

<div class="title">Address</div>
{{singleComputer.address}}

<div class="title">Hours</div>
{{singleComputer.hours}}

<div class="title">TP Stock</div>
{{singleComputer.tpStock}}

<div class="title">Payments Accepted</div>
{{singleComputer.paymentTypes}}