<h1>singelssong</h1>

{{singleSong.name}}

<div class="title">Album</div>
{{singleSong.album}}

<div class="title">Length</div>
{{singleSong.length}}

<div class="title">Song Number</div>
{{singleSong.songNumber}}

<div class="title">Artist</div>
{{singleSong.artist}}