<h1>singelscomputer</h1>

{{singleComputer.name}}

<div class="title">Model Number</div>
{{singleComputer.modelNumber}}

<div class="title">Manufacturer</div>
{{singleComputer.manufacturer}}

<div class="title">Version</div>
{{singleComputer.version}}

<div class="title">Storage</div>
{{singleComputer.storage}}