<h1>Edit Comic</h1>

<form action="/comic/{{singleComic._id}}?_method=PUT" method="POST">
    <label>Name</label>
    <input type="text" name="name" value="{{singleComic.name}}" />

    <label>Writer</label>
    <input type="text" name="Writer" value="{{singleComic.Writer}}" />

    <label>Artist</label>
    <input type=" text" name="artist" value="{{singleComic.artist}}" />

    <label>Issue Number</label>
    <input type="number" min=0 name="issueNumber" value="{{singleComic.issueNumber}}" />

    <label>Publisher</label>
    <input type="text" name="publisher" value="{{singleComic.publisher}}" />

    <input type="submit" value="Save" />
</form>