{{singleFacility.name}}

<a href="/facility/{{singleFacility._id}}/edit">
    <button>
        Edit
    </button>
</a>

<div class="title">Address</div>
{{singleFacility.address}}

<div class="title">Hours</div>
{{singleFacility.hours}}

<div class="title">TP Stock</div>
{{singleFacility.tpStock}}

<div class="title">Payments Accepted</div>
{{singleFacility.paymentTypes}}

<form action="/facility/{{singleFacility._id}}?_method=DELETE" method="POST">
    <input type="submit" value="Delete">
</form>